<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg" >
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Aisha's Bakery</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#ai-navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="ai-navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a asp-controller="Home" asp-action="Index">Home</a></li>

                        <li class="nav-item"><a asp-controller="Pie" asp-action="List">Pies</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>Welcome to Aisha's Baking Shop!</h1>

        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-responsive" alt="Aisha's Baking Shop'" src="~/Images/cakeshoplogo.png" />
                </p>
            </div>

            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
