@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ShoppingCartViewModel
@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
<li class="nav-item">

    <span style="font-size: 1.5em; color: Tomato; margin-left:1.5em;">
        <i class="fas fa-shopping-basket"></i>
    </span>
    <a asp-controller="ShoppingCart" asp-action="Index">
        <span id="cart-status" style="color:lightseagreen;">@Model.ShoppingCartTotalAmount</span>
    </a>
</li>
}